# Servers
alias cassa="mosh vsbugge@cassarossa.samfundet.no"
alias cirkus="mosh vsbugge@cirkus.samfundet.no"
alias alter="mosh vsbugge@altersex.samfundet.no"
alias navi="mosh vsbugge@navi.samfundet.no"
alias kint="kinit vsbugge@AD.SAMFUNDET.NO"
export GPG_TTY=$(tty)

alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dotf=dotfiles
alias nconf='/usr/bin/git --git-dir=$HOME/.config/nvim/.git --work-tree=$HOME/.config/nvim'

alias cat=bat
alias cp="cp -i"
alias itprint="lp -h printhost.samfundet.no -d motzfeldt $1"

# Lazy ls
alias l="exa --color=always" # lazy ls
alias la="exa -al --color=always"
alias ll="exa -l --color=always"
alias ls="exa"
alias lr="exa -lrs=modified --color=always"

# nvim > vim
alias view="nvim -R"
alias vim="nvim"

# neomutt > mutt
alias mutt=neomutt

# trash > rm
alias rm=trash

# Extract any archive
extract () {
  if [ -f $1 ] ; then
      case $1 in
          *.tar.bz2)   tar xvjf $1    ;;
          *.tar.gz)    tar xvzf $1    ;;
          *.bz2)       bunzip2 $1     ;;
          *.rar)       unrar x $1       ;;
          *.gz)        gunzip $1      ;;
          *.tar)       tar xvf $1     ;;
          *.tbz2)      tar xvjf $1    ;;
          *.tgz)       tar xvzf $1    ;;
          *.zip)       unzip $1       ;;
          *.Z)         uncompress $1  ;;
          *.7z)        7z x $1        ;;
          *)           echo "don't know how to extract '$1'..." ;;
      esac
  else
      echo "'$1' is not a valid file!"
  fi
}

alias ntnupass="bw get password a2cde2dd-bd5f-4771-913d-ad75013a09a5 | xclip -selection c"

itks() {
	xdg-open "https://google.com/search?q=$1+site%3Aitk.samfundet.no"
}

alias clip="xclip -selection clip"


if [ -f ~/.local_aliases ]; then
    source ~/.local_aliases
fi

detach() {
        $1 $2 </dev/null &>/dev/null &; disown;
}
