alias cassa="mosh vsbugge@cassarossa.samfundet.no"
alias cirkus="mosh vsbugge@cirkus.samfundet.no"
alias alter="mosh vsbugge@altersex.samfundet.no"
alias navi="mosh vsbugge@navi.samfundet.no"
alias kint="kinit vsbugge@AD.SAMFUNDET.NO"
export GPG_TTY=$(tty)

alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

if [ -f ~/.local_aliases ]; then
    source ~/.local_aliases
fi
