[init]
	defaultBranch = main
[user]
	name = Sebastian Bugge
	useConfigOnly = true
[pull]
	ff = false
	rebase = true
[rebase]
	autoStash = true
[alias]
	publish = !git pull && git push
[push]
	default = current
	autoSetupRemote = true
[rerere]
	enabled = true
[advice]
	skippedCherryPicks = false
[help]
	autocorrect = 10
[include]
	path = ~/.gitconfig_local
[includeIf "gitdir:~/code/"]
	path = ~/code/.gitconfig
